ul.checkBoxList {
	list-style:none;
	margin: 0;
	padding: 0;
}
ul.checkBoxList.horizontal li {
	display: inline;
}
ul.checkBoxList li.disabled {
	color: Gray;
}

ul.radioButtonList {
	list-style:none;
	margin: 0;
	padding: 0;
}
ul.radioButtonList.horizontal li {
	display: inline;
}
ul.radioButtonList li.disabled {
	color: Gray;
}

ul.menu, ul.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.menu.horizontal ul {
	display: inline;
}
ul.menu.horizontal li {
	display: inline;
}
