<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ControlAdapters" type="ControlAdapters.Configuration.ControlAdaptersConfigurationSection, ControlAdapters" />
	</configSections>
	<ControlAdapters>
		<CheckBoxList cssClass="checkBoxList" 
					  disabledCssClass="disabled" />
		<RadioButtonList cssClass="radioButtonList"
						 disabledCssClass="disabled" />
	</ControlAdapters>
</configuration>