<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="ControlAdapters" type="ControlAdapters.Configuration.ControlAdaptersConfigurationSection, ControlAdapters" />
	</configSections>
	<ControlAdapters>
		<CheckBoxList cssClass="checkBoxList" disabledCssClass="disabled" />
		<RadioButtonList cssClass="radioButtonList" disabledCssClass="disabled" />
		<Menu cssClass="menu" disabledCssClass="disabled" />
	</ControlAdapters>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="ControlAdapters" />
			</assemblies>
		</compilation>
		<pages theme="Default">
			<controls>
				<add assembly="ControlAdapters" namespace="ControlAdapters.WebControls" tagPrefix="ca" />
			</controls>
		</pages>
		<customErrors mode="Off" />
	</system.web>
</configuration>
