<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="ControlAdapters" type="ControlAdapters.Configuration.ControlAdaptersConfigurationSection, ControlAdapters" />
	</configSections>
	<ControlAdapters>
		<CheckBoxList cssClass="AspNet-CheckBoxList"
					  disabledCssClass="AspNet-CheckBoxList-Disabled"
					  itemCssClass="AspNet-CheckBoxList-Item"
					  repeatDirectionCssClass="AspNet-CheckBoxList-RepeatDirection-" />
	</ControlAdapters>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="ControlAdapters" />
			</assemblies>
		</compilation>
		<pages>
			<controls>
				<add assembly="ControlAdapters" namespace="ControlAdapters.WebControls" tagPrefix="ca" />
			</controls>
		</pages>
		<customErrors mode="Off" />
	</system.web>
</configuration>
